.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 48px;
  /* margin-top: 10%; */
}

.root h1 {
  font-size: 96px;
  margin-bottom: 24px;
  font-weight: 300;
}

.root p {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 300;
  letter-spacing: 2px;
}

.tech span:hover {
  color: #61dafb;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.05);
}

.navwrapper {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.navwrapper ul {
  display: flex;
  flex-direction: row;
  gap : 24px ;
  justify-content: center;
  flex-wrap: wrap;
}

.navwrapper ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 18px;
}

.navlink {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.navlink:hover {
  color: #61dafb;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.05);
  text-decoration-line: underline;
}

.buttonwrapper {
  display: flex;
  flex-direction: row;
  gap : 24px;
  justify-content: center;
  margin-top: 36px;
  align-items: center;
}

.downloadcv {
  text-decoration: none;
  padding: 12px 24px;
 border-radius: 24px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  border: 1px solid #61dafb;
}

.downloadcv:hover {
  background-color: #61dafb;
  color: #000;
  transition: 0.3s;
  transform: scale(1.05);
}